/* FONTES */
.font-1-m-b {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
}

.font-1-xxl {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 72px;
  font-size: 4rem;
}

.font-2-l {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 36px;
  font-size: 1.5rem;
}

.mw-1160 {
  max-width: 1160px;
}

.m-0-auto {
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.gap-32 {
  gap: 2rem;
}

.m-32 {
  margin: 2rem;
}

.p-32 {
  padding: 2rem;
}

.p-32-0 {
  padding: 2rem 0;
}

.gap-40 {
  gap: 2.5rem;
}

.m-40 {
  margin: 2.5rem;
}

.p-40 {
  padding: 2.5rem;
}
