body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.max-w-1200 {
  max-width: 1200px;
}

.m0-auto {
  margin: 0 auto;
}

.col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
