/* TITULO DE SECTION */
.titulo {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.125;
  font-size: 4rem;
  margin-bottom: 2rem;
  color: var(--cor-0);
}
.titulo span {
  color: var(--p1);
}

@media (max-width: 1100px) {
  .titulo {
    font-size: 3rem;
  }
}

@media (max-width: 900px) {
  .titulo {
    font-size: 2.3rem;
  }
}

@media (max-width: 700px) {
  .titulo {
    font-size: 2rem;
  }
}

/* P */
.texto-1 {
  color: var(--cor-5);
  margin-bottom: 1.25rem;
}

@media (max-width: 900px) {
  .texto-1 {
    font-size: 1.25rem;
  }
}

@media (max-width: 500px) {
  .texto-1 {
    font-size: 1.1rem;
  }
}

/* BTN */
.btn-1 {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  text-transform: uppercase;
  border-radius: 0.25rem;
  background: var(--bgc-btn);
  color: var(--p5);
  padding: 1rem 2rem;
  box-shadow: var(--shadow-btn);
  transition: 0.3s;
}

.btn-1:hover {
  background: var(--bgc-btn2);
}

@media (max-width: 900px) {
  .btn-1 {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
  }
}
@media (max-width: 500px) {
  .btn-1 {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }
}

.btn-1.dark {
  background: var(--cor-10);
  color: var(--cor-4);
  transition: 0.3s;
}

.btn-1.dark:hover {
  background: var(--cor-11);
}
